<mat-card *ngIf="melee">
  <mat-card-header>
    <mat-card-title>
      {{melee.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{melee.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div *ngIf="melee.vaulted;else estVaulting">
          Vaulted On: {{melee.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="melee.estimatedVaultDate">
            Estimated Vaulting: {{melee.estimatedVaultDate}}
          </div>
        </ng-template>
        <div>Mastery Requirement: MR {{melee.masteryReq}}</div>
        <div>Stance Polarity: <span class=wf-{{melee.stancePolarity.toLowerCase()}}></span></div>
        Polarities: <span *ngFor="let polarity of melee.polarities">
          <span class="wf-{{polarity.toLowerCase()}}"></span>
        </span>
        <div>Build Time: {{melee.buildTime/60/60}} hours</div>
        <div>Cost to Build: {{melee.buildPrice|number}}
          <img src="../../../assets/img/Credits64.png" alt="credits icon" height="15em">
        </div>
        <div>Cost to Skip Build Time: {{melee.skipBuildTimePrice}}
          <img src="../../../assets/img/PlatinumLarge.png" alt="platinum icon" height="15em">
        </div>
        <app-disposition [disposition]="melee.disposition"></app-disposition>
        <app-damage-breakdown [weapon]=melee></app-damage-breakdown>
        <div>Rate of Fire: {{melee.fireRate.toFixed(2)}}</div>
        <div>Critical Chance: {{(melee.criticalChance*100).toFixed()}}%</div>
        <div>Critical Multiplier: x{{melee.criticalMultiplier}}</div>
        <div>Status Chance: {{(melee.procChance*100).toFixed()}}%</div>
        <div>Accuracy: {{melee.accuracy.toFixed(2)}}%</div>
      </div>
      <div fxFlex="40%" class="meleeImage">
        <img [src]="getImage(melee.imageName)" alt="{{melee.name}} image">
      </div>
    </div>

    <app-damage-display [damageTypes]="melee.damageTypes"></app-damage-display>

    <app-components-display [components]="melee.components"></app-components-display>

  </mat-card-content>
</mat-card>
