<mat-card *ngIf="melee">
  <mat-card-header>
    <mat-card-title>
      {{melee.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{melee.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div *ngIf="melee.vaulted;else estVaulting">
          Vaulted On: {{melee.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="melee.estimatedVaultDate">
            Estimated Vaulting: {{melee.estimatedVaultDate}}
          </div>
        </ng-template>
        <app-disposition [disposition]="melee.disposition"></app-disposition>
        <div class="dps">DPS: {{melee.damagePerSecond}}</div>
        <div class="rof">Rate of Fire: {{melee.fireRate}}</div>
        <div class="crit">Critical Chance: {{melee.criticalChance}}%</div>
        <div class="crit">Critical Multiplier: x{{melee.criticalMultiplier}}</div>
        <div class="proc">Status Chance: {{melee.procChance}}%</div>
        <div>Accuracy: {{melee.accuracy.toFixed(2)}}%</div>
      </div>
      <div fxFlex="40%" class="meleeImage">
        <img [src]="getImage(melee.imageName)" alt="{{melee.name}} image">
      </div>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Damage
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-damage-display [damageTypes]="melee.damageTypes"></app-damage-display>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Components
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let comp of melee.components;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div *ngIf="comp;">
              <mat-panel-title>
                {{comp.itemCount}} {{comp.name}}
              </mat-panel-title>
            </div>
          </mat-expansion-panel-header>
          <mat-list>
            <div *ngIf="comp.drops">
              <mat-list-item *ngFor="let d of comp.drops.sort()">
                {{d.location.split('nce:')[0]}}: {{d.chance}}%
              </mat-list-item>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
