<mat-card *ngIf="melee">
  <mat-card-header fxLayout="row">
    <mat-card-title fxLayout="column">
      {{melee.name}}
    </mat-card-title>
    <mat-card-subtitle fxLayout="column">
      {{melee.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="40%">
        <div *ngIf="melee.vaulted;else estVaulting">
          Vaulted On: {{melee.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="melee.estimatedVaultDate">
            Estimated Vaulting: {{melee.estimatedVaultDate}}
          </div>
        </ng-template>
        <div>Mastery Requirement: MR {{melee.masteryReq}}</div>
        <div>Stance Polarity: <span class=wf-{{melee.stancePolarity.toLowerCase()}}></span></div>

        <div *ngIf="melee.polarities.length>0;else noPols">
          Mod Polarities: <span *ngFor="let polarity of melee.polarities">
            <span class="wf-{{polarity.toLowerCase()}}"></span>
          </span>
        </div>

        <ng-template #noPols>
          Mod Polarities: None
        </ng-template>

        <app-build-section [weapon]="melee"></app-build-section>
        <app-disposition [disposition]="melee.disposition"></app-disposition>
        <app-damage-breakdown [weapon]=melee></app-damage-breakdown>
        <div>Rate of Fire: {{melee.fireRate.toFixed(2)}}</div>
        <div>Critical Chance: {{(melee.criticalChance*100).toFixed()}}%</div>
        <div>Critical Multiplier: x{{melee.criticalMultiplier}}</div>
        <div>Status Chance: {{(melee.procChance*100).toFixed()}}%</div>
        <div>Accuracy: {{melee.accuracy.toFixed(2)}}%</div>
      </div>
      <div fxFlex="60%" class="meleeImage">
        <img [src]="getImage(melee.imageName)" alt="{{melee.name}} image">
      </div>
    </div>

    <app-damage-display [damageTypes]="melee.damageTypes"></app-damage-display>

    <app-components-display [components]="melee.components"></app-components-display>

  </mat-card-content>
</mat-card>
