<mat-card *ngIf="secondary">
  <mat-card-header fxLayout="row">
    <mat-card-title fxLayout="column">
      {{secondary.name}}
    </mat-card-title>
    <mat-card-subtitle fxLayout="column">
      {{secondary.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="40%">
        <div *ngIf="secondary.vaulted;else estVaulting">
          Vaulted On: {{secondary.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="secondary.estimatedVaultDate">
            Estimated Vaulting: {{secondary.estimatedVaultDate}}
          </div>
        </ng-template>
        <div>Mastery Requirement: MR {{secondary.masteryReq}}</div>

        <div *ngIf="secondary.polarities.length>0;else noPols">
          Mod Polarities:
          <span *ngFor="let polarity of secondary.polarities">
            <span class="wf-{{polarity.toLowerCase()}}"></span>
          </span>
        </div>

        <ng-template #noPols>
          Mod Polarities: None
        </ng-template>
        <app-build-section [weapon]="secondary"></app-build-section>
        <app-weapon-detail [weapon]="secondary"></app-weapon-detail>
      </div>
      <div fxFlex="60%" class="secondaryImage">
        <img [src]="getImage(secondary.imageName)" alt="{{secondary.name}} image">
      </div>
    </div>

    <app-damage-display [damageTypes]="secondary.damageTypes"></app-damage-display>

    <app-components-display [components]="secondary.components"></app-components-display>

  </mat-card-content>
</mat-card>
