<mat-card *ngIf="secondary">
  <mat-card-header>
    <mat-card-title>
      {{secondary.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{secondary.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div *ngIf="secondary.vaulted;else estVaulting">
          Vaulted On: {{secondary.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="secondary.estimatedVaultDate">
            Estimated Vaulting: {{secondary.estimatedVaultDate}}
          </div>
        </ng-template>
        <app-disposition [disposition]="secondary.disposition"></app-disposition>
        <div class="dps">DPS: {{secondary.damagePerSecond}}</div>
        <div class="rof">Rate of Fire: {{secondary.fireRate}}</div>
        <div class="crit">Critical Chance: {{secondary.criticalChance}}%</div>
        <div class="crit">Critical Multiplier: x{{secondary.criticalMultiplier}}</div>
        <div class="proc">Status Chance: {{secondary.procChance}}%</div>
        <div >Accuracy: {{secondary.accuracy.toFixed(2)}}%</div>
      </div>
      <div fxFlex="40%" class="secondaryImage">
        <img [src]="getImage(secondary.imageName)" alt="{{secondary.name}} image">
      </div>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Damage
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let dmg of (getDamageTypes(secondary));">
        <!-- {{dmg.key|titlecase}}: {{dmg.value}} -->
        {{dmg|json}}
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Components
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let comp of secondary.components;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div *ngIf="comp.drops;">
              <mat-panel-title>
                {{comp.name}}
              </mat-panel-title>
            </div>
          </mat-expansion-panel-header>
          <mat-list>
            <div *ngIf="comp.drops">
              <mat-list-item *ngFor="let d of comp.drops.sort()">
                {{d.location.split('nce:')[0]}}: {{d.chance}}%
              </mat-list-item>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
