<div fxFlex="row">
  <mat-toolbar color="accent" class="filterbar">
    <div fxFlex="90%">
      <button mat-raised-button (click)="resetFilters()">
        All
      </button>
      <button mat-raised-button (click)="filterOn('Rifle')">Rifles</button>
      <button mat-raised-button (click)="filterOn('Shotgun')">Shotguns</button>
      <button mat-raised-button (click)="filterOn('Sniper Rifle')">Snipers</button>
      <button mat-raised-button (click)="filterOn('Bow')">Bows</button>
      <button mat-raised-button (click)="filterOn('Launcher')">Launchers</button>
      <button mat-raised-button (click)="filterOn('Crossbow')">Crossbow</button>
      <button mat-raised-button (click)="filterOn('Speargun')">Speargun</button>
    </div>

    <div fxFlex="10%">
      <button mat-raised-button [matMenuTriggerFor]="filters">Sort By</button>
      <mat-menu #filters="matMenu">
        <mat-list>
          <mat-list-item>
            <button mat-button (click)="sortByDamage()" class="itemButton">
              Damage
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="sortByDPS()" class="itemButton">
              DPS
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="sortByCrit()" class="itemButton">
              Critical Chance
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="sortByProc()" class="itemButton">
              Proc Chance
            </button>
          </mat-list-item>
        </mat-list>
      </mat-menu>
    </div>
  </mat-toolbar>

  <cdk-virtual-scroll-viewport style="height: 70vh" itemSize="90">
    <div *cdkVirtualFor="let primary of allPrimaries; let even=even; let odd=odd templateCacheSize: 0">
      <div *ngIf="!primary.sentinel">
        <app-primary-summary [odd]="odd" [even]="even" primary={{primary|json}}></app-primary-summary>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>
