<hr>
<hr>

<div *ngIf="weapon.accuracy<100">
  Accuracy {{weapon.accuracy.toFixed(2)}}%
  <hr>
</div>

<div *ngIf="weapon.criticalChance">
  Critical Chance {{(weapon.criticalChance*100).toFixed()}}%
  <hr>
</div>

<div *ngIf="weapon.criticalMultiplier">
  Critical Multiplier {{weapon.criticalMultiplier}}x
  <hr>
</div>

<div *ngIf="weapon.fireRate">
  Fire Rate {{weapon.fireRate.toFixed(2)}}
  <hr>
</div>

<div *ngIf="weapon.magazineSize>0">
  Magazine Size {{weapon.magazineSize}}
  <hr>
</div>

<div *ngIf="weapon.noise">
  Noise {{weapon.noise}}
  <hr>
</div>

<div *ngIf="weapon.reloadTime">
  Reload Speed {{weapon.reloadTime}}
  <hr>
</div>

<app-disposition [disposition]="weapon.disposition"></app-disposition>
<hr>

<div *ngIf="weapon.procChance">
  Status Chance {{(weapon.procChance*100).toFixed()}}%
  <hr>
</div>

<div *ngIf="weapon.trigger">
  Trigger Type {{weapon.trigger}}
  <hr>
</div>

<app-damage-breakdown [weapon]=weapon></app-damage-breakdown>
<hr>
<hr>
