<div fxFlex="column">
  <hr>

  <div *ngIf="weapon.accuracy<100" class="section">
    <span class="tableItem">
      Accuracy
    </span>
    <span class="dataField">
      {{weapon.accuracy.toFixed(2)}}%
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.criticalChance" class="section">
    <span class="tableItem">
      Critical Chance
    </span>
    <span class="dataField">
      {{(weapon.criticalChance*100).toFixed()}}%
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.criticalMultiplier" class="section">
    <span class="tableItem">
      Critical Multiplier
    </span>
    <span class="dataField">
      {{weapon.criticalMultiplier}}x
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.fireRate" class="section">
    <span class="tableItem">
      Fire Rate
    </span>
    <span class="dataField">
      {{weapon.fireRate.toFixed(2)}}
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.magazineSize>0" class="section">
    <span class="tableItem">
      Magazine Size
    </span>
    <span class="dataField">
      {{weapon.magazineSize}}
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.noise" class="section">
    <span class="tableItem">
      Noise
    </span>
    <span class="dataField">
      {{weapon.noise}}
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.reloadTime" class="section">
    <span class="tableItem">
      Reload Speed
    </span>
    <span class="dataField">
      {{weapon.reloadTime}}
    </span>
    <hr style="width: 100%">
  </div>

  <app-disposition [disposition]="weapon.disposition"></app-disposition>
  <hr>

  <div *ngIf="weapon.procChance" class="section">
    <span class="tableItem">
      Status Chance
    </span>
    <span class="dataField">
      {{(weapon.procChance*100).toFixed()}}%
    </span>
    <hr style="width: 100%">
  </div>

  <div *ngIf="weapon.trigger" class="section">
    <span class="tableItem">
    Trigger Type
    </span>

    <span class="dataField">
      {{weapon.trigger}}
    </span>
    <hr style="width: 100%">
  </div>

  <app-damage-breakdown [weapon]=weapon></app-damage-breakdown>
</div>
