<mat-card>
  <mat-card-header>
    <mat-card-title>
      Copyright Information
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      All images on this site are the property of
      <a href="https://www.digitalextremes.com/">Digital Extremes</a> unless noted otherwise. All game data is also
      owned by <a href="https://www.digitalextremes.com/">Digital Extremes</a> and is part of their game <a
        href="https://www.warframe.com/">Warframe</a>. For more information about <a
        href="https://www.digitalextremes.com/">Digital Extremes</a> or <a
        href="https://www.warframe.com/">Warframe</a>, you can click on either name to be directed to their respective
      home pages.
    </div>
    <br>
    <div>
      The site design and the underlying code is the property of
      <a href="https://codemastermick.firebaseapp.com">Codemaster Mick</a>.
    </div>
  </mat-card-content>
</mat-card>
