<mat-card *ngIf="primary" routerLink="/weapons/{{primary.name}}">
    <mat-card-header>
      <mat-card-title>
        {{primary.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{primary.description}}
      </mat-card-subtitle>
      <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
    </mat-card-header>

    <mat-card-content>
        <span class="dps">Damage Per Shot {{getDPS().toFixed(0)}}</span>
        |
        <span class="crit">Critical Chance {{primary.criticalChance.toFixed(2)}}%</span>
        |
        <span class="proc">Status Chance {{primary.procChance.toFixed(2)}}%</span>
    </mat-card-content>
  </mat-card>
