.thumbnail {
  background-size: cover;
}

.wfImage{
  display: flex;
}

.thumb {
  background-size: cover;
  flex: 1 1 auto;
}

.section{
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.tableItem{
  flex: 1 1 auto;
}

.dataField{
  flex: 1 1 auto;
  text-align: end;
}
