<mat-card *ngIf="frame">
  <mat-card-header>
    <mat-card-title>
      {{frame.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{frame.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb(frame.imageName)"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div>Passive Ability: {{getPassive(frame)}}</div>
        <div *ngIf="frame.aura">Aura Polarity:
          <span class="icon-{{frame.aura.toLowerCase()}}"></span>
        </div>
        <div class="health">Health: {{frame.health}}</div>
        <div class="shield">Shield: {{frame.shield}}</div>
        <div class="energy">Energy: {{frame.power}}</div>
        <div class="armour">Armour: {{frame.armor}}</div>
        <div>Sprint Speed: {{frame.sprintSpeed}}</div>
        <div>PVP: {{frame.conclave}}</div>
        <div>MR: {{frame.masteryReq}}</div>
        Polarities:
        <span *ngFor="let polarity of frame.polarities" class="polarities">
          <span class="icon-{{polarity.toLowerCase()}}"></span>
        </span>
      </div>

      <div fxFlex="40%" class="wfImage">
        <img [src]="getImage(frame.imageName)" alt="{{frame.name}} image">
      </div>
    </div>
    <!-- bottom section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Components
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let comp of frame.components;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div *ngIf="comp.drops">
              <mat-panel-title>
                {{comp.name}}
              </mat-panel-title>
            </div>
          </mat-expansion-panel-header>
          <mat-list>
            <div *ngIf="comp.drops">
              <mat-list-item *ngFor="let d of comp.drops.sort()">
                {{d.location.split('nce:')[0]}}: {{d.chance.toFixed(2)}}%
              </mat-list-item>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Abilities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let ability of frame.abilities">
        {{ability.name}}: {{ability.description}}
      </div>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
