<mat-card *ngIf="frame">
  <mat-card-header fxLayout="row">
    <mat-card-title fxLayout="column">
      {{frame.name}}
    </mat-card-title>
    <mat-card-subtitle fxLayout="column">
      {{frame.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="40%">
        <div>Passive Ability {{getPassive()}}</div>
        <hr style="width: 100%">

        <span class="section">
          <span *ngIf="frame.aura">
            <span class="tableItem">
              Aura Polarity
            </span>

            <span class="dataField">
              <span class="wf-{{frame.aura.toLowerCase()}}"></span>
            </span>
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            Health
          </span>
          <span class="dataField">
            {{frame.health}}
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            Shield
          </span>
          <span class="dataField">
            {{frame.shield}}
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            Energy
          </span>
          <span class="dataField">
            {{frame.power}}
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            Armour
          </span>
          <span class="dataField">
            {{frame.armor}}
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            PVP
          </span>
          <span class="dataField">
            {{frame.conclave}}
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            MR
          </span>
          <span class="dataField">
            {{frame.masteryReq}}
          </span>
          <hr style="width: 100%">
        </span>

        <span class="section">
          <span class="tableItem">
            Polarities
          </span>
          <span class="dataField">
            <span *ngFor="let polarity of frame.polarities" class="polarities">
              <span class="wf-{{polarity.toLowerCase()}}"></span>
            </span>
          </span>
          <hr style="width: 100%">
        </span>
      </div>

      <div fxFlex="60%" class="wfImage">
        <img class="thumb" [src]="getImage(frame.imageName)" alt="{{frame.name}} image">
      </div>

    </div>

    <app-components-display [components]="frame.components"></app-components-display>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Abilities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let ability of getAbilities(); let last=last;">
        <span class="section">
          <span class="tableItem">
            {{ability.name}}
          </span>
          <span class="dataField">
            {{ability.description}}
          </span>
          <hr *ngIf="!last" style="width: 100%">
        </span>
      </div>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
