.header {
  text-align: center;
  border-radius: 0;
}

.navPanel {
  // this is being used to select the correct element
  // and apply the stick-nav style to it. DO NOT REMOVE!
}

.navButtons {
  width: 80vw;
}

button {
  margin: 0.25em;
}

.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.footer {
  width: 100%;
}

.decopyline{
  flex-grow: 3;
}

mat-toolbar > div > a {
  text-decoration: none;
  color: inherit;
}

.copyline {
  text-align: end;
}
