<div [class.light]="!darkTheme" [class.dark]="darkTheme" fxFlex="column">
  <mat-card class="header" fxFlex="100%">
    <h1>
      <span class="wf-simaris"></span>
      Welcome Hunter, to {{ title }}
      <span class="wf-simaris"></span>
    </h1>
  </mat-card>

  <mat-toolbar color="primary" class="navPanel" fxFlex="row">
    <div fxFlexAlign="start" fxFlex="80%" class="navButtons">
      <button mat-button [routerLink]="['/home']">
        <span class="wf-lotus" style="font-size: 2em;"></span>
      </button>
      <button mat-raised-button [routerLink]="['/warframes']">
        Warframes
      </button>
      <button mat-raised-button [routerLink]="['/primary']">
        Primary
      </button>
      <button mat-raised-button [routerLink]="['/secondary']">
        Secondary
      </button>
      <button mat-raised-button [routerLink]="['/melee']">
        Melee
      </button>
      <button mat-raised-button [routerLink]="['/relics']">
        Relics
      </button>
    </div>

    <div fxFlex="20%">
      {{!darkTheme?"Toggle Light Theme":"Toggle Dark Theme"}}
      <mat-slide-toggle checked="darkTheme" (toggleChange)="darkTheme=!darkTheme"> </mat-slide-toggle>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-toolbar fxFlex="row" fxLayoutAlign="space-between" class="footer">
    <div class="decopyline">
      All game data and imagery owned by <a href="https://www.digitalextremes.com/">Digital Extremes</a>
    </div>
    <div class="copyline">
      Site design copyright 2019 <a href="https://codemastermick.firebaseapp.com">Codemaster Mick</a>
    </div>
  </mat-toolbar>
</div>
