.header {
  text-align: center;
  border-radius: 0;
  flex-grow: 1;
  min-height: 5vh;
  max-height: 10vh;
  height: 5vh;
}

.navPanel {
  width: 100%;
  min-height: 5vh;
  max-height: 5vh;
}

button {
  margin: 0.25em;
}

.footer {
  width: 100%;
  z-index: 999;
  max-height: 5vh;
  border-radius: 0;
}

.decopyline {
  flex-grow: 3;
}

mat-toolbar > div > a {
  text-decoration: none;
  color: inherit;
}

.copyline {
  text-align: end;
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: initial;
}
