<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome Tenno, to {{ title }}
  </h1>
  <img width="300" alt="Lotus Symbol" src="http://i.imgur.com/eVFxjmc.png">
</div>
<mat-toolbar class="navPanel">
    <button mat-raised-button>
        <a [routerLink]="['/home']">Home</a>
      </button>
  <button mat-raised-button>
    <a [routerLink]="['/warframes']">Warframes</a>
  </button>
  <button mat-raised-button>
    <a [routerLink]="['/primary']">Primary</a>
  </button>
  <button mat-raised-button>
    <a [routerLink]="['/secondary']">Secondary</a>
  </button>
  <button mat-raised-button>
    <a [routerLink]="['/melee']">Melee</a>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
