.hero {
  margin: 2em;
}

.content {
  margin: 2em;
}

.sidebar {
  margin: 2em;
}

.done{
  text-decoration: line-through;
}


mat-card{
  height: 70vh;
}

a {
  // text-decoration: none;
  color: inherit;
}
