<div fxLayout="row" class="main">

  <div fxLayout="column">
    <div fxFlex="100%" class="hero">
      <p>Welcome to a fan created, unofficial Warframe data viewer. This webapp works by parsing the official API and
        displaying the data it contains. Think of this as kind of like an out of game Codex.</p>

      <p>If you want to see a particular category tackled next, let me know and I will see what I can do to implement it
        sooner. Please note that this is an open source, one man project right now so things might be slow moving.
        Contributions are welcome however, more information can be found
        <a href="contrib">here</a>.
      </p>

      <p>Categories available in the API:</p>
      <ul>
        <li> All (will never be implemented, the page would be massive and unusable) </li>
        <li> Arcanes </li>
        <li> Archwing </li>
        <li> Fish </li>
        <li> Gear </li>
        <li> Glyphs </li>
        <li class="done"> Melee </li>
        <li> Misc </li>
        <li> Mods </li>
        <li> Pets </li>
        <li class="done"> Primary </li>
        <li> Quests </li>
        <li class="done"> Relics </li>
        <li> Resources </li>
        <li class="done"> Secondary </li>
        <li> Sentinels </li>
        <li> Sigils </li>
        <li> Skins </li>
        <li class="done"> Warframes </li>
      </ul>
    </div>
  </div>


  <div fxFlex="20%" class="sidebar">
    <h2>Up Next:</h2>
    <ol>
      <li> Archwing </li>
      <li> Pets </li>
      <li> Sentinels </li>
      <li> Arcanes </li>
      <li> Fish </li>
      <li> Resources </li>
      <li> Misc </li>
      <li> Gear </li>
      <li> Mods </li>
      <li> Sigils </li>
      <li> Glyphs </li>
      <li> Skins </li>
      <li> Quests </li>
      <li>A better look for this site</li>
      <li>Search functionality</li>
    </ol>
  </div>
</div>
