<span *ngIf="isOpened===true&&weapon.category==='Melee';else totalDMG" (click)="isOpened=!isOpened">

  <span class="section">
    <span class="tableItem">
      Damage per Hit
    </span>
    <span class="dataField">
      {{weapon.totalDamage}}
    </span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </span>
  <hr style="width: 100%">

  <span class="section">
    <span class="tableItem">
      Damage per Second
    </span>
    <span class="dataField">
      {{weapon.damagePerSecond}}
    </span>
    <hr style="width: 100%">
  </span>

  <span class="section">
    <span class="tableItem">
      Charge Attack
    </span>
    <span class="dataField">
      {{weapon.chargeAttack}}
    </span>
    <hr style="width: 100%">
  </span>

  <span class="section">
    <span class="tableItem">
      Spin Attack
    </span>
    <span class="dataField">
      {{weapon.spinAttack}}
    </span>
    <hr style="width: 100%">
  </span>

  <span class="section">
    <span class="tableItem">
      Leap Attack
    </span>
    <span class="dataField">
      {{weapon.leapAttack}}
    </span>
    <hr style="width: 100%">
  </span>

  <span class="section">
    <span class="tableItem">
      Wall Attack
    </span>
    <span class="dataField">
      {{weapon.wallAttack}}
    </span>
    <hr style="width: 100%">
  </span>
</span>

<ng-template #totalDMG>
  <span (click)="isOpened=!isOpened" class="section">
    <span class="tableItem">
      Damage
    </span>
    <span class="dataField">
      {{weapon.totalDamage}}
    </span>
    <mat-icon *ngIf="weapon.category==='Melee'">keyboard_arrow_right</mat-icon>
  </span>
  <hr style="width: 100%">
</ng-template>
