<mat-card *ngIf="relic">
  <mat-card-header>
    <mat-card-title>
      {{relic.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{relic.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div *ngIf="relic.vaulted;else estVaulting">
          Vaulted On: {{relic.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="relic.estimatedVaultDate">
            Estimated Vaulting: {{relic.estimatedVaultDate}}
          </div>
        </ng-template>
        <app-disposition [disposition]="relic.disposition"></app-disposition>
        <div class="dps">DPS: {{relic.damagePerSecond}}</div>
        <div class="rof">Rate of Fire: {{relic.fireRate}}</div>
        <div class="crit">Critical Chance: {{relic.criticalChance}}%</div>
        <div class="crit">Critical Multiplier: x{{relic.criticalMultiplier}}</div>
        <div class="proc">Status Chance: {{relic.procChance}}%</div>
        <div >Accuracy: {{relic.accuracy.toFixed(2)}}%</div>
      </div>
      <div fxFlex="40%" class="relicImage">
        <img [src]="getImage(relic.imageName)" alt="{{relic.name}} image">
      </div>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Damage
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let dmg of relic.damageTypes| keyvalue;">
        {{dmg.key|titlecase}}: {{dmg.value}}
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Components
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let comp of relic.components;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div *ngIf="comp.drops;">
              <mat-panel-title>
                {{comp.name}}
              </mat-panel-title>
            </div>
          </mat-expansion-panel-header>
          <mat-list>
            <div *ngIf="comp.drops">
              <mat-list-item *ngFor="let d of comp.drops.sort()">
                {{d.location.split('nce:')[0]}}: {{d.chance}}%
              </mat-list-item>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
