<mat-card *ngIf="secondary" (deferLoad)="secondary.show === true" routerLink="/secondary/{{secondary.name}}"  [class.odd]="odd" [class.even]="even">
    <mat-card-header>
      <mat-card-title>
        {{secondary.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{secondary.description}}
      </mat-card-subtitle>
      <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
    </mat-card-header>

    <mat-card-content>
        <span>Damage Per Shot {{getDPS().toFixed(0)}}</span>
        |
        <span>Critical Chance {{secondary.criticalChance.toFixed(2)}}%</span>
        |
        <span>Status Chance {{secondary.procChance.toFixed(2)}}%</span>
    </mat-card-content>
  </mat-card>
