<mat-card *ngIf="primary">
  <mat-card-header fxLayout="row">
    <mat-card-title fxLayout="column">
      {{primary.name}}
    </mat-card-title>
    <mat-card-subtitle fxLayout="column">
      {{primary.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="40%">
        <div *ngIf="primary.vaulted;else estVaulting">
          Vaulted On: {{primary.vaultDate}}
        </div>
        <ng-template #estVaulting>
          <div *ngIf="primary.estimatedVaultDate">
            Estimated Vaulting: {{primary.estimatedVaultDate}}
          </div>
        </ng-template>
        <div>Mastery Requirement: MR {{primary.masteryReq}}</div>

        <div *ngIf="primary.polarities.length>0;else noPols">
          Mod Polarities: <span *ngFor="let polarity of primary.polarities">
            <span class="wf-{{polarity.toLowerCase()}}"></span>
          </span>
        </div>

        <ng-template #noPols>
          Mod Polarities: None
        </ng-template>

        <app-build-section [weapon]="primary"></app-build-section>
        <app-disposition [disposition]="primary.disposition"></app-disposition>
        <app-damage-breakdown [weapon]=primary></app-damage-breakdown>
        <div>Rate of Fire: {{primary.fireRate.toFixed(2)}}</div>
        <div>Critical Chance: {{(primary.criticalChance*100).toFixed()}}%</div>
        <div>Critical Multiplier: x{{primary.criticalMultiplier}}</div>
        <div>Status Chance: {{(primary.procChance*100).toFixed()}}%</div>
        <div>Accuracy: {{primary.accuracy.toFixed(2)}}%</div>
      </div>
      <div fxFlex="60%" class="primaryImage">
        <img [src]="getImage(primary.imageName)" alt="{{primary.name}} image" width="100%" height="100%">
      </div>
    </div>

    <app-damage-display [damageTypes]="primary.damageTypes"></app-damage-display>

    <app-components-display [components]="primary.components"></app-components-display>

  </mat-card-content>
</mat-card>
