<mat-card *ngIf="primary">
  <mat-card-header>
    <mat-card-title>
      {{primary.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{primary.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
  </mat-card-header>

  <mat-card-content>
      <span class="dps">DPS {{primary.damagePerSecond}}</span>
      |
      <span class="dmg">Damage Types {{primary.damageTypes|json}}</span>
      |
      <span class="rof">Rate of Fire {{primary.fireRate}}</span>
      |
      <span class="crit">Critical Chance {{primary.criticalChance}}</span>
      |
      <span class="proc">Status Chance {{primary.procChance}}</span>
  </mat-card-content>
</mat-card>
