<mat-card routerLink="/warframes/{{frame.name}}">
  <mat-card-header>
    <mat-card-title>
      {{frame.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{frame.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb(frame.wikiaThumbnail||frame.imageName)"></div>
  </mat-card-header>

  <mat-card-content>
    <span *ngIf="frame.aura" class="icon-{{frame.aura.toLowerCase()}}"></span>
    <span class="health">Health {{frame.health}}</span>
    <span class="shield">Shield {{frame.shield}}</span>
    <span class="energy">Energy {{frame.power}}</span>
    <span class="armour">Armour {{frame.armor}}</span>
  </mat-card-content>
</mat-card>
