<mat-card *ngIf="frame" (deferLoad)="frame.show === true" routerLink="/warframes/{{frame.name}}" [class.odd]="odd" [class.even]="even">
  <mat-card-header>
    <mat-card-title>
      {{frame.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{frame.description}}
    </mat-card-subtitle>
    <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb(frame.wikiaThumbnail||frame.imageName)">
    </div>
  </mat-card-header>

  <mat-card-content>
    <span *ngIf="frame.aura">
      <span class="wf-{{frame.aura.toLowerCase()}}"> </span>
      |
    </span>

    <span>Health {{frame.health}}</span>
    |
    <span>Shield {{frame.shield}}</span>
    |
    <span>Energy {{frame.power}}</span>
    |
    <span>Armour {{frame.armor}}</span>
  </mat-card-content>
</mat-card>
