.thumbnail {
  background-size: cover;
}

.dps {
  color: red;
}

.crit {
  color: purple;
}

.proc {
  color: magenta;
}

.even {
  background-color: rgba(0,0,0,0.05);
}

.odd {
  background-color: rgba(0.6,0.6,0.6,0.1);
}
