<mat-card class="meleeCard" (deferLoad)="melee.show === true" *ngIf="melee" routerLink="/melee/{{melee.name}}" [class.odd]="odd" [class.even]="even">
    <mat-card-header>
      <mat-card-title>
        {{melee.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{melee.description}}
      </mat-card-subtitle>
      <div mat-card-avatar class="thumbnail" [style.background-image]="getThumb()"></div>
    </mat-card-header>

    <mat-card-content>
        <span>Damage {{getDPS().toFixed()}}</span>
        |
        <span>Critical {{(melee.criticalChance*100).toFixed()}}%</span>
        |
        <span>Status {{(melee.procChance*100).toFixed()}}%</span>
    </mat-card-content>
  </mat-card>
